*{
    margin: 0px;
    padding: 0px;
}

.nav{
    height: 70px;
    background-color: rgb(27, 26, 26);
   display: flex;
   color: white;
   justify-content: space-around;
   align-items: center;
}
.logos{
    width: 160px;
    margin: 15px;
}
.menu{
    display: flex;
 font-size: 15px;
}
.item{
    margin-right: 25px;
}
.item:hover{
    color: red;
    cursor: pointer;
}
li{
    list-style: none;
}
/* end nav  */

.banner{
    height: 100vh;
    background-color: rgb(39, 36, 36);
 align-items: center;
 justify-content: space-evenly;
 display: flex;
 margin-bottom: 30px;
}
.banner-pic{
    width: 400px;
}
.banner-titel{
font-size: 55px;
font-weight: bold;
}
.banner-text{
    color: white;
}
.description{
    font-size: 22px;
    margin: 10px;
}
.btn{
    border: none;
    padding:15px 25px;
    margin-top: 15px;
    border-radius: 8px;
    color: white;
    background-color: red;
    font-size: medium;
}
.banner-btn:hover{
    color: rgb(20, 20, 20);
    cursor: pointer;
}
    /* end banner  */
    .about-titel{
      text-align: center;
      font-size: 60px;
      margin-bottom: 40px;
    }
    .about{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }
.about-pic{
    height: 400px;
}
.main>h1{
    font-size: x-large;
}

/* service section*/
.service{
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 50px;
}
.servicess{
    background-color: black;
    height: 300px;
    width: 270px;
    text-align: center;
    color: white;
    padding: 70px 40px;

 
}
.servic-img{
    width: 80px;
    margin-bottom: 15px;
}
.detail{
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    font-size: medium;
    font-weight: bold;
    background-color: grey;
    color: white;
    margin-top: 10px;
}
.detail:hover{
    cursor:pointer ;
    color: red;
}
/* end main section  */
.main-footer{
    background-color: black;
    color: white;
   height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
